<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
        <Property name="LOG_LEVEL_PATTERN">%5p</Property>
        <Property name="LOG_DATEFORMAT_PATTERN">yyyy-MM-dd HH:mm:ss.SSS</Property>
        <Property name="CONSOLE_LOG_PATTERN">%clr{%d{${sys:LOG_DATEFORMAT_PATTERN}}}{faint} %clr{${sys:LOG_LEVEL_PATTERN}} %clr{%pid}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>
        <Property name="FILE_LOG_PATTERN">%d{${sys:LOG_DATEFORMAT_PATTERN}} ${sys:LOG_LEVEL_PATTERN} %pid --- [%t] %-40.40c{1.} : %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>
        <Property name="FILE_LOG_SIZE">100MB</Property>
<!--        <Property name="LOG_PATH">./rapidf-example/logs/</Property>-->
        <Property name="LOG_PATH">${logging.file.path}</Property>

        <Property name="LOG_LEVEL">info</Property>
    </Properties>
    <Appenders>
        <!-- ====default log appender begin==== -->
        <!-- system out -->
        <Console name="STDOUT_APPENDER" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${sys:CONSOLE_LOG_PATTERN}" charset="UTF-8" />
        </Console>
        <!-- system err -->
        <Console name="STDERR_APPENDER" target="SYSTEM_ERR" follow="true">
            <PatternLayout pattern="${sys:CONSOLE_LOG_PATTERN}" charset="UTF-8" />
        </Console>
        <!-- app-default -->
        <RollingFile name="DEFAULT_APPENDER" fileName="${sys:LOG_PATH}/app-default.log"
                     filePattern="${sys:LOG_PATH}/$${date:yyyy-MM}/app-default-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout pattern="${sys:FILE_LOG_PATTERN}" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="${sys:FILE_LOG_SIZE}" />
            </Policies>
            <DefaultRolloverStrategy/>
        </RollingFile>
        <!-- common-error -->
        <RollingFile name="ERROR_APPENDER" fileName="${sys:LOG_PATH}/common-error.log"
                     filePattern="${sys:LOG_PATH}/$${date:yyyy-MM}/common-error-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout pattern="${sys:FILE_LOG_PATTERN}" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="${sys:FILE_LOG_SIZE}" />
            </Policies>
            <DefaultRolloverStrategy/>
            <ThresholdFilter level="error"/>
        </RollingFile>
        <!-- ====default log appender end==== -->

        <!-- ====biz log appender begin==== -->
        <!-- controller-digest -->
        <RollingFile name="CONTROLLER_DIGEST_APPENDER" fileName="${sys:LOG_PATH}/controller-digest.log"
                     filePattern="${sys:LOG_PATH}/$${date:yyyy-MM}/controller-digest-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout pattern="${sys:FILE_LOG_PATTERN}" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="${sys:FILE_LOG_SIZE}" />
            </Policies>
            <DefaultRolloverStrategy/>
        </RollingFile>
        <!-- controller-detail -->
        <RollingFile name="CONTROLLER_DETAIL_APPENDER" fileName="${sys:LOG_PATH}/controller-detail.log"
                     filePattern="${sys:LOG_PATH}/$${date:yyyy-MM}/controller-detail-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout pattern="${sys:FILE_LOG_PATTERN}" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="${sys:FILE_LOG_SIZE}" />
            </Policies>
            <DefaultRolloverStrategy/>
        </RollingFile>
        <!-- service-digest -->
        <RollingFile name="SERVICE_DIGEST_APPENDER" fileName="${sys:LOG_PATH}/service-digest.log"
                     filePattern="${sys:LOG_PATH}/$${date:yyyy-MM}/service-digest-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout pattern="${sys:FILE_LOG_PATTERN}" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="${sys:FILE_LOG_SIZE}" />
            </Policies>
            <DefaultRolloverStrategy/>
        </RollingFile>
        <!-- service-detail -->
        <RollingFile name="SERVICE_DETAIL_APPENDER" fileName="${sys:LOG_PATH}/service-detail.log"
                     filePattern="${sys:LOG_PATH}/$${date:yyyy-MM}/service-detail-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout pattern="${sys:FILE_LOG_PATTERN}" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="${sys:FILE_LOG_SIZE}" />
            </Policies>
            <DefaultRolloverStrategy/>
        </RollingFile>
        <!-- ====biz log appender end==== -->
    </Appenders>
    <Loggers>
        <!-- package logger -->
        <AsyncLogger name="org.apache.catalina.startup.DigesterFactory" level="error" />
        <AsyncLogger name="org.apache.catalina.util.LifecycleBase" level="error" />
        <AsyncLogger name="org.apache.coyote.http11.Http11NioProtocol" level="warn" />
        <AsyncLogger name="org.apache.sshd.common.util.SecurityUtils" level="warn"/>
        <AsyncLogger name="org.apache.tomcat.util.net.NioSelectorPool" level="warn" />
        <AsyncLogger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="error" />
        <AsyncLogger name="org.hibernate.validator.internal.util.Version" level="warn" />
        <AsyncLogger name="org.springframework.boot.actuate.endpoint.jmx" level="warn"/>
        <!-- custom logger -->
        <AsyncLogger name="CONTROLLER_DIGEST" additivity="false" level="${sys:LOG_LEVEL}">
            <AppenderRef ref="CONTROLLER_DIGEST_APPENDER" />
            <AppenderRef ref="ERROR_APPENDER" />
        </AsyncLogger>
        <AsyncLogger name="CONTROLLER_DETAIL" additivity="false" level="${sys:LOG_LEVEL}">
            <AppenderRef ref="CONTROLLER_DETAIL_APPENDER" />
            <AppenderRef ref="ERROR_APPENDER" />
        </AsyncLogger>
        <AsyncLogger name="SERVICE_DIGEST" additivity="false" level="${sys:LOG_LEVEL}">
            <AppenderRef ref="SERVICE_DIGEST_APPENDER" />
            <AppenderRef ref="ERROR_APPENDER" />
        </AsyncLogger>
        <AsyncLogger name="SERVICE_DETAIL" additivity="false" level="${sys:LOG_LEVEL}">
            <AppenderRef ref="SERVICE_DETAIL_APPENDER" />
            <AppenderRef ref="ERROR_APPENDER" />
        </AsyncLogger>
        <!-- root logger -->
        <AsyncRoot level="${sys:LOG_LEVEL}">
            <AppenderRef ref="STDERR_APPENDER"/>
            <AppenderRef ref="STDOUT_APPENDER"/>
            <AppenderRef ref="DEFAULT_APPENDER" />
            <AppenderRef ref="ERROR_APPENDER" />
        </AsyncRoot>
    </Loggers>
</Configuration>